
.mainContainer{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 20px;
}
.paginatorBalance{

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.iconBtn__wrap{
    background-color: transparent;
    padding: 0;
    margin: 0;
    line-height: 1;
    border: none;
    display: flex;
}
.balance{
    display: flex;
    align-items: center;
    padding: 9px 12px;
    background-color: white;
    border-radius: 20px;
    margin-right: 48px;

}
.money{
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}
.balanceText{

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 10px;
}
.balance:hover .balanceText,
.balance:hover .iconBtn__wrap .iconBtn{
color: #0000F4;
}
.balanceText__helper{
    color: #899CB1;
}
.iconBtn__wrap{
    color: #005FF8;
    font-size: 22px;
}
.paginator{
    display: flex;
    align-items: center;
    line-height: 1;
}
.paginator .iconBtn{
    font-size: 10px;
    color: #ADBFDF;
}
.paginator span{
    color: #005FF8;
    font-size: 15px;
    display: flex;
    align-items: center;

}
.paginator .calendar{
    font-size: 18px;
    margin-right: 8px;
}
.paginator .prev{
    margin-right: 21px;
    background-color: transparent;
    border: none;
}
.paginator .next{
    margin-left: 21px;
    background-color: transparent;
    border: none;
}
.paginator button:hover,
.paginator span:hover svg,
.paginator span:hover{
    color: #005FF8;
    cursor: pointer;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #5E7793;

    margin-top: 34px;
}
.search{
    display: flex;
    align-items: center;
}
.search svg{
    margin-right: 8px;
    color: #ADBFDF;
    font-size: 16px;
}

.filters{
    display: flex;
    align-items: center;
}
.filters .filterBox:last-child {
    margin-right: 0;
}
.filterBox{
    margin-right: 36px;
    cursor: pointer;

    position: relative;

}
.filterBox svg{
    margin-left: 8px;
    font-size: 10px;
    color: #ADBFDF;
}
.d svg{
    transform: rotate(180deg);
}
 .buttonsContainer{
    color: red;
    box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
    background-color: white;
     position: absolute;
     top: calc(100% + 8px);
     right: 0;
     border: 1px solid #EAF0FA;
     border-radius: 4px;
}
 .buttonsContainer button{
     display: block;
     padding: 10px 20px;
     background-color: transparent;
     font-size: 14px;
     margin:0;
     color: #122945;
     border: none;
     width: 100%;
     text-align: left;
 }
.buttonsContainer button:hover{
background-color: rgba(0,95,248,0.13);
}
.filterBox:hover,
.filterBox:hover svg,
.filterBox.active,
.filterBox.active svg{
    color: #005FF8;
}
